-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: site_backend
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audiencia`
--

DROP TABLE IF EXISTS `audiencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audiencia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` datetime(6) DEFAULT NULL,
  `hora` varchar(255) DEFAULT NULL,
  `lugar` varchar(255) DEFAULT NULL,
  `persona` varchar(255) DEFAULT NULL,
  `id_expediente` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmn0nl7q6wn3qn31hycn0jenha` (`id_expediente`),
  CONSTRAINT `FKmn0nl7q6wn3qn31hycn0jenha` FOREIGN KEY (`id_expediente`) REFERENCES `expedientes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audiencia`
--

LOCK TABLES `audiencia` WRITE;
/*!40000 ALTER TABLE `audiencia` DISABLE KEYS */;
INSERT INTO `audiencia` VALUES (1,'2025-11-14 14:00:00.000000','11:00','DGC',NULL,1),(2,'2025-11-27 14:00:00.000000','11:00','DGC',NULL,3);
/*!40000 ALTER TABLE `audiencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audiencia_persona`
--

DROP TABLE IF EXISTS `audiencia_persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audiencia_persona` (
  `audiencia_id` bigint NOT NULL,
  `persona_id` bigint NOT NULL,
  KEY `FKole7agb7flo85py3ppdriftp5` (`persona_id`),
  KEY `FKnw7qy7hy2rrpvshgqsqhyjwek` (`audiencia_id`),
  CONSTRAINT `FKnw7qy7hy2rrpvshgqsqhyjwek` FOREIGN KEY (`audiencia_id`) REFERENCES `audiencia` (`id`),
  CONSTRAINT `FKole7agb7flo85py3ppdriftp5` FOREIGN KEY (`persona_id`) REFERENCES `personas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audiencia_persona`
--

LOCK TABLES `audiencia_persona` WRITE;
/*!40000 ALTER TABLE `audiencia_persona` DISABLE KEYS */;
INSERT INTO `audiencia_persona` VALUES (1,1),(1,2),(2,13),(2,14);
/*!40000 ALTER TABLE `audiencia_persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncia_estado`
--

DROP TABLE IF EXISTS `denuncia_estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncia_estado` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(255) DEFAULT NULL,
  `fecha` datetime(6) DEFAULT NULL,
  `observacion` varchar(255) DEFAULT NULL,
  `denuncia_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb3iy3l2w2xgbonyvxfq0t7ill` (`denuncia_id`),
  CONSTRAINT `FKb3iy3l2w2xgbonyvxfq0t7ill` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncia_estado`
--

LOCK TABLES `denuncia_estado` WRITE;
/*!40000 ALTER TABLE `denuncia_estado` DISABLE KEYS */;
/*!40000 ALTER TABLE `denuncia_estado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncia_persona`
--

DROP TABLE IF EXISTS `denuncia_persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncia_persona` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `apellido_delegado` varchar(255) DEFAULT NULL,
  `dni_delegado` varchar(255) DEFAULT NULL,
  `nombre_delegado` varchar(255) DEFAULT NULL,
  `rol` varchar(255) DEFAULT NULL,
  `denuncia_id` bigint DEFAULT NULL,
  `persona_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1qoqats8gklgosxnq3vhardqx` (`denuncia_id`),
  KEY `FKk887rjkxmyi8ywivite2eayxh` (`persona_id`),
  CONSTRAINT `FK1qoqats8gklgosxnq3vhardqx` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`),
  CONSTRAINT `FKk887rjkxmyi8ywivite2eayxh` FOREIGN KEY (`persona_id`) REFERENCES `personas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncia_persona`
--

LOCK TABLES `denuncia_persona` WRITE;
/*!40000 ALTER TABLE `denuncia_persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `denuncia_persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denuncias`
--

DROP TABLE IF EXISTS `denuncias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denuncias` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` varchar(255) DEFAULT NULL,
  `motivo` varbinary(255) DEFAULT NULL,
  `objeto` varbinary(255) DEFAULT NULL,
  `expediente_id` bigint DEFAULT NULL,
  `notificar` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhi6v10f2nuxdir1xqbsfn14a8` (`expediente_id`),
  CONSTRAINT `FK7u1s1n0bmgdb1rpeanxyyoes8` FOREIGN KEY (`expediente_id`) REFERENCES `expedientes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denuncias`
--

LOCK TABLES `denuncias` WRITE;
/*!40000 ALTER TABLE `denuncias` DISABLE KEYS */;
/*!40000 ALTER TABLE `denuncias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_creacion` datetime(6) DEFAULT NULL,
  `formato` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `orden` bigint DEFAULT NULL,
  `referencia` varchar(255) DEFAULT NULL,
  `ruta` varchar(255) DEFAULT NULL,
  `tipo_documento` enum('DATOS_DENUNCIA','MEMO','NOTA','PROVIDENCIA','RESOLUCI├ôN') DEFAULT NULL,
  `denuncia_id` bigint NOT NULL,
  `pase_id` bigint DEFAULT NULL,
  `nombrevisible` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK327c7r3yfluqn4wl4ksrsk74d` (`denuncia_id`),
  KEY `FKmm4hcw1sct96f7t4u5js30k59` (`pase_id`),
  CONSTRAINT `FK327c7r3yfluqn4wl4ksrsk74d` FOREIGN KEY (`denuncia_id`) REFERENCES `denuncias` (`id`),
  CONSTRAINT `FKmm4hcw1sct96f7t4u5js30k59` FOREIGN KEY (`pase_id`) REFERENCES `pases` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expediente_usuario`
--

DROP TABLE IF EXISTS `expediente_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expediente_usuario` (
  `expediente_id` bigint NOT NULL,
  `usuario_id` bigint NOT NULL,
  KEY `FKmifaico3khlmsf5vipu4bk2nb` (`usuario_id`),
  KEY `FK2x62logbsasv1dm9cg2hxy80i` (`expediente_id`),
  CONSTRAINT `FK2x62logbsasv1dm9cg2hxy80i` FOREIGN KEY (`expediente_id`) REFERENCES `expedientes` (`id`),
  CONSTRAINT `FKmifaico3khlmsf5vipu4bk2nb` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expediente_usuario`
--

LOCK TABLES `expediente_usuario` WRITE;
/*!40000 ALTER TABLE `expediente_usuario` DISABLE KEYS */;
INSERT INTO `expediente_usuario` VALUES (1,4),(2,4),(3,9);
/*!40000 ALTER TABLE `expediente_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expedientes`
--

DROP TABLE IF EXISTS `expedientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expedientes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cant_folios` varchar(255) DEFAULT NULL,
  `delegacion` varchar(255) DEFAULT NULL,
  `fecha_finalizacion` date DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `hipervulnerable` varchar(255) DEFAULT NULL,
  `nro_exp` varchar(255) DEFAULT NULL,
  `id_usuario` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKeh0uyr884fj4qi25an6i1v690` (`id_usuario`),
  CONSTRAINT `FKeh0uyr884fj4qi25an6i1v690` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expedientes`
--

LOCK TABLES `expedientes` WRITE;
/*!40000 ALTER TABLE `expedientes` DISABLE KEYS */;
INSERT INTO `expedientes` VALUES (1,'0','DGC',NULL,'2025-08-20',NULL,'EXP-2025-1',NULL),(2,'0','DGC',NULL,'2025-11-05','no','EXP-2025-DGC-1',NULL),(3,'0','DGC',NULL,'2025-11-26','no','EXP-2025-DGC-2',NULL),(4,'0','DGC',NULL,'2025-11-26',NULL,'EXP-2025-DGC-3',NULL),(5,'0','DGC',NULL,'2025-11-26',NULL,'EXP-2025-DGC-4',NULL);
/*!40000 ALTER TABLE `expedientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pases`
--

DROP TABLE IF EXISTS `pases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `area_destino` enum('ABOGADOS','ASESORIA_LEGAL','DIRECCION','MESA_DE_ENTRADA') DEFAULT NULL,
  `area_origen` enum('ABOGADOS','ASESORIA_LEGAL','DIRECCION','MESA_DE_ENTRADA') DEFAULT NULL,
  `asunto` varchar(255) DEFAULT NULL,
  `cant_folios` bigint DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `fecha_accion` date DEFAULT NULL,
  `expediente_id` bigint NOT NULL,
  `usuario_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfhrpgphmesw6ek44ddstbr6nr` (`expediente_id`),
  KEY `FKq3i67xqvfirba4teantyxqo0k` (`usuario_id`),
  CONSTRAINT `FKfhrpgphmesw6ek44ddstbr6nr` FOREIGN KEY (`expediente_id`) REFERENCES `expedientes` (`id`),
  CONSTRAINT `FKq3i67xqvfirba4teantyxqo0k` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pases`
--

LOCK TABLES `pases` WRITE;
/*!40000 ALTER TABLE `pases` DISABLE KEYS */;
INSERT INTO `pases` VALUES (1,'MESA_DE_ENTRADA','MESA_DE_ENTRADA','Asunto pruebaaa',2,'PAse ejemploe','2025-09-03',1,1),(2,'MESA_DE_ENTRADA','DIRECCION','Firma',7,'Pase de ejemplo','2025-11-13',1,3),(3,'ABOGADOS','MESA_DE_ENTRADA','Firma',135,'texto','2025-11-13',2,3),(4,'DIRECCION','ABOGADOS','Resoluci├│n',7,'Descripci├│n del pase','2025-11-26',3,3);
/*!40000 ALTER TABLE `pases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personas`
--

DROP TABLE IF EXISTS `personas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) DEFAULT NULL,
  `codigo_postal` varchar(255) DEFAULT NULL,
  `documento` varchar(255) DEFAULT NULL,
  `domicilio` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `fax` varchar(255) DEFAULT NULL,
  `localidad` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personas`
--

LOCK TABLES `personas` WRITE;
/*!40000 ALTER TABLE `personas` DISABLE KEYS */;
/*!40000 ALTER TABLE `personas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'DIRECCION'),(2,'ABOGADOS'),(3,'ASESORIA_LEGAL'),(4,'MESA_DE_ENTRADA');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token`
--

DROP TABLE IF EXISTS `token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token` (
  `id` bigint NOT NULL,
  `expired` bit(1) NOT NULL,
  `revoked` bit(1) NOT NULL,
  `token` varchar(255) DEFAULT NULL,
  `token_type` enum('BEARER') DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKpddrhgwxnms2aceeku9s2ewy5` (`token`),
  KEY `FK7tipr2wekkpu7e3xxqwmxv77k` (`user_id`),
  CONSTRAINT `FK7tipr2wekkpu7e3xxqwmxv77k` FOREIGN KEY (`user_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token`
--

LOCK TABLES `token` WRITE;
/*!40000 ALTER TABLE `token` DISABLE KEYS */;
/*!40000 ALTER TABLE `token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_seq`
--

DROP TABLE IF EXISTS `token_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_seq`
--

LOCK TABLES `token_seq` WRITE;
/*!40000 ALTER TABLE `token_seq` DISABLE KEYS */;
INSERT INTO `token_seq` VALUES (1101);
/*!40000 ALTER TABLE `token_seq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contrase├▒a` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `rol` enum('ABOGADOS','ASESORIA_LEGAL','DIRECCION','MESA_DE_ENTRADA') DEFAULT NULL,
  `id_persona` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKkfsp0s1tflm1cwlj8idhqsad0` (`email`),
  UNIQUE KEY `UK27s1llon5naewhedd1qfhhvce` (`id_persona`),
  CONSTRAINT `FKtmank41bd4off23q2o9dx13y9` FOREIGN KEY (`id_persona`) REFERENCES `personas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 22:25:16
